html {
  scroll-behavior: smooth;
}

.App {
  font-family: 'Avenir-Next';
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.movie{
  color: white;
}

.nav-margin {
  padding-top: 80px;
}

@media screen and (max-width: 479px) {
  .nav-margin {
    padding-top: 10px;
  }
}